body {
    padding: 0;
    background-color: #645f49;
}

.video-data {
    display: flex;
    align-items: center;
    justify-content: center;
}
video {
    width: 40%;
    height: auto;
    border-radius: 5px;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f1ebdc;
    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

@media (max-width: 980px) {
    video 
    {
        width: 90%;
        object-fit: contain;
    }
}